.math{
    width: 90px;
    height: 20px;
}

#delete{
    background-color:pink;

}

.box{
    background-color: cornflowerblue;
    width: 90px;
    height: 100px;
}

.box2{
    background-color: darkorange;
    width: 90px;
    height: 100px;
}

.frame{
    position:relative;
    background-color:chocolate;
    width: 90px;
    height: 100px;
    left: 19px;
}

.selected{
    border: 4px dotted crimson;
}


.printCounter{
    color:darkmagenta;
    font-weight: bold;
    font-size: 20px;
}


.fish{
    display: grid;
    grid-template-columns: 5% 5%;
    grid-template-rows: 5%;
    column-gap: 50px;
    list-style: none;
    border: 2px solid black;
}


.animal{
    display: grid;
    grid-template-columns: 5% 5%;
    grid-template-rows: 5%;
    column-gap: 50px;
    list-style: none;
    border: 2px solid black;
}


.fish img, .animal img{
    width: 80px;
    height: 80px;
    border: 2px solid black;
}
