#drag-item > img, 
ol > li > img {
    width: 100px;
    height: 100px;
    cursor:move;    /* CHANGES CURSOR TYPE */
}

#drag-item > img:hover{
    background-color: blue;
}

#box{
    border: 2px solid purple;
    width: 400px;
    height: 400px;
}

/* MENU BUTTONs */
.library{
    display:grid;
    grid-template-columns: 1fr;
    width: 90px;
    height: 50px;
    align-content:center;
    border:none;
}

.library:hover{
    border: 3px purple solid;
}

.library:active{
    display:block;
}

/* IMAGE LIBRARY */
ol.animal{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    border:none;
}

ol.animal > .animal-img{
    display:none;
}

ol.fish{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    border:none;
}

ol.fish > .fish-img{
    display:none;
}