ol > li > img {
   
    cursor:move;    /* CHANGES CURSOR TYPE */
}

#monkey {
    width: 90px;
    height: 90px;
    position: absolute; /* REQUIRED*/
    z-index: 0;
}

#sheep {
    width: 90px;
    height: 90px;
    position: absolute; /* REQUIRED*/
    background:papayawhip;
    z-index: 0;
}

#banana {
    width: 90px;
    height: 90px;
    position: absolute; /* REQUIRED*/
    z-index: 0;
}
