/*  GOOGLE font  traditional  font-family: 'Rubik', sans-serif;  */

/* comic style   font-family: 'Pangolin', cursive;   */


.container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
   "card1 card2";
}
#card1{
   grid-area: card1;
   background-color:rgb(140, 240, 145);
}

#card2{
   grid-area: card2;
   background-color:rgb(140, 140, 240);
}

h1{
   font-family: 'Rubik', sans-serif; 
}

ol{
   list-style: none;
}

#logo{
    font-family: 'Pangolin', cursive; 
    font-weight: bold;
    font-size: 40px;
}

.horizontal-rule{
   width: 100%;
   height: 30px;
   background-color:red;
   border-bottom: 10px solid yellow;
}

 button{
   font-family: 'Pangolin', cursive; 
   font-size: 20px;
   width: 180px;
   height: 60px;
 }

 button:hover{
    border-left: 20px solid rgb(140, 140, 240);
 }

.header{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
   "header-child1 header-child2";
}

.header-child1{
   grid-area: header-child1;
}

.header-child2{
   grid-area: header-child2;
}

.footer{
   background-color:rgb(255, 255, 123);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
   "footer-child1 footer-child2 footer-child3";
}

.footer-child1{
   grid-area: footer-child1;
}

.footer-child2{
   grid-area: footer-child2;
}

.footer-child3{
   grid-area: footer-child3;
}


/*
///////   CSS STYLE -  feedback form
*/
#email, #comment{
   border: 2px solid black;
   
}



/*
///////   CSS STYLE -   toolbar
*/

.toolbar img{
   width: 60px;
   height: 60px;
   background-color: black;
}

.toolbar p{
   font-size: 14px;
   font-weight: bold;
}

.toolbar:hover{
   background-color: yellow;
   box-shadow: 6px 0px 6px 0px cadetblue;
}

.toolbar-main{   
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   list-style: none;
}

.toolbar-parent1, .toolbar-parent2, .toolbar-parent3{
   border: 4px solid black;
   display: flex;
   flex-direction: row;
   padding: 0;
   margin:0;
   list-style: none;
   text-align: center;
}

.toolbar-parent2{
   border: 4px solid rgb(233, 10, 10);
}

.toolbar-parent3{
   border: 4px solid rgb(5, 90, 5);
}


/*
///////   CSS STYLE -  stamp
*/

.selected{
   border: 5px dotted red;
}

.stamp-main{
   display: flex;  /* TOGGLE On /Off */
   flex-direction: row; 
   flex-wrap: wrap;
   background-color: coral;
}

.stamp-parent1, .stamp-parent2, .stamp-parent3{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
///////   CSS STYLE -   cloned items
*/
.cloneditems{
   display: flex;
   flex-direction: row; 
   flex-wrap: wrap;
   border: 3px solid gray;
}

.cloneditems li{
   list-style:none;
}

.cloneditems p{
   border: 1px solid black;
   z-index: 5;
}

/*
///////   CSS STYLE -   my workspace
*/
.myworkspace{
   display: flex;
   flex-direction: row; 
   flex-wrap: wrap;
   border: 3px solid gray;
   width: 98%;
   height: 500px;
}



/*
///////   CSS STYLE -   my caption
*/
.mycaption{
   font-size: 16px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   border: 3px solid black;
   width: 98%;
   height: 100px;
}


/*
///////   CSS STYLE -   slides
*/
.slide-main{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly; 
   flex-wrap: wrap;  /*    DO NOT WRAP   */
   border: 3px solid black;
   width: 98%;
}

.addslide, .singleslide{
   background-color:rgba(236, 223, 223, 0.918);
   border: 3px dotted rgb(168, 165, 165);
   margin: 10px 0px 10px 0px;
   width: 150px;
   height: 90px;
   text-align: center;
   font-weight: bold;
}
