/*  GOOGLE font  traditional  font-family: 'Rubik', sans-serif;  */

/* comic style   font-family: 'Pangolin', cursive;   */


.container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
   "card1 card2";
}
#card1{
   grid-area: card1;
   background-color:rgb(140, 240, 145);
}

#card2{
   grid-area: card2;
   background-color:rgb(140, 140, 240);
}

h1{
   font-family: 'Rubik', sans-serif; 
}

ol{
   list-style: none;
}

#logo{
    font-family: 'Pangolin', cursive; 
    font-weight: bold;
    font-size: 40px;
}

.horizontal-rule{
   width: 100%;
   height: 30px;
   background-color:red;
   border-bottom: 10px solid yellow;
}

 button{
   font-family: 'Pangolin', cursive; 
   font-size: 20px;
   width: 180px;
   height: 60px;
 }

 button:hover{
    border-left: 20px solid rgb(140, 140, 240);
 }

.header{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
   "header-child1 header-child2";
}

.header-child1{
   grid-area: header-child1;
}

.header-child2{
   grid-area: header-child2;
}

.footer{
   background-color:rgb(255, 255, 123);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
   "footer-child1 footer-child2 footer-child3";
}

.footer-child1{
   grid-area: footer-child1;
}

.footer-child2{
   grid-area: footer-child2;
}

.footer-child3{
   grid-area: footer-child3;
}