.right{
    display:none;
    font-size: 20px;
    border-radius:3px solid rgb(123, 123, 247);
}

.left{
    display:none;
    font-size: 20px;
    border-radius:3px solid greenyellow;
}

.up{
    display:none;
    border-radius:3px solid hotpink;
}

.down{
    display: none;
    font-size: 20px;
    border-radius:3px solid rgb(214, 153, 73)
}