.right{
    display:none;
    background-color: rgb(123, 123, 247);
}

.left{
    display:none;
    background-color: greenyellow;
}

.up{
    display:none;
    background-color:hotpink;
}

.down{
    display: none;
    background-color:3px solid rgb(214, 153, 73)
}