#box1{
    font-size: 20px;
    font-weight: bold;
    color: rgb(226, 140, 10);
}
#box2{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: relative;    /* REQUIRED to MOVE */
}
