ol > li > img {
   
    cursor:move;    /* CHANGES CURSOR TYPE */
}

.select img {
    border: 4px dotted palevioletred;
}

#whiteboard{
    border: 2px solid blueviolet;
    width: 320px;
    height: 320px;
}

.item {
    width: 90px;
    height: 90px;
    position: absolute; /* REQUIRED*/
    background:palevioletred;
}
