/*  GOOGLE font  traditional  font-family: 'Rubik', sans-serif;  */

/* comic style   font-family: 'Pangolin', cursive;   */

#logo{
    font-family: 'Pangolin', cursive; 
    font-weight: bold;
    font-size: 40px;
}

.navigation-parent, .footer-parent{
   display: grid;
   grid-template-columns: 3fr 1fr ;
   grid-template-rows: 1fr;
   padding: 0;
   margin: 0;
}

 .navigation-parent > ol, .footer-parent > ol{
   list-style: none;
   
 }

.nav-box1{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap; 
}

.nav-box2{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;  
}

#help {
    box-shadow: 5px 4px gainsboro;
    margin: 3px 3px 3px 3px;
    font-family: 'Pangolin', cursive;
    font-size: 18px;
 }

#login {
   box-shadow: 5px 4px gainsboro;
   margin: 3px 3px 3px 3px;
   font-family: 'Pangolin', cursive;
   font-size: 18px;
}

.footer-box1{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;  
}


/* MAIN CONTENT */
.main-content{
    background-color:rgb(248, 248, 157);
    max-width: 90%;
    margin: 10px 10px 10px 10px;
    font-family: 'Rubik', sans-serif;
}