#entry{
    border: 2px solid #ff0000;
    font-size: 20px;
    font-weight: bold;
}

#box{
    background:#ffa600;
    width: 100px;
    height: 100px;
    position:absolute;
    z-index: 1000;
}

#box:hover{
    box-shadow: 5px 10px 5px rgb(181, 180, 182);
}