nav{
    background-color:rgb(158, 6, 158);
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "grid1 grid2";
  }
  
  
  #nav1{
   grid-area:grid1;  
  }
  
  #nav2{
    grid-area: grid2;
    background-color:white;
    font-size: 24px;
  }
  
  .card-img-top{
    width: 55%;
  }

  .card-title{
    background-color:rgb(224, 223, 222);
    padding: 10px 5px 5px 10px;
  }

