

body{
  width: 90%;
  padding: 0px 10px 0px 10px;
  border: 2px solid rgba(220, 220, 220, 0.849);
  
}

hr {
  color: orange;

}

h2{
  border: rgb(184, 84, 84) 2px solid;
  color: white;
  background-color: rgb(184, 84, 84);
  text-transform: uppercase;
  box-shadow: 0px 10px 20px 0px;
}

h3{
  border-style: 4px double black;
  text-transform: uppercase;
}

a.linkedin img {
 float:right;
 width: 5%;
}

img {
  float: right;
  width: 25%;
  border-style: solid 4px red;
}

table{
  border: 3px solid rgb(39, 38, 38);
 }

tr.toprow {
  background-color: rgb(226, 148, 148);
  font-family: cursive;
  text-transform: uppercase;
}


p.ipsom{
  background-color: gainsboro;
  width: 80%;
  padding: 0px, 10px, 0px, 10px;
}