nav{
  background-color:rgb(158, 6, 158);
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "grid1 grid2";
}


#nav1{
 grid-area:grid1;  
}

#nav2{
  grid-area: grid2;
  background-color:white;
  font-size: 24px;
}


/* HOME */
.homewelcome{
  height: 85vh;
  background-color:rgb(218, 217, 216);
  font-size:20px;
}

.homewelcome > .container-fluid > .row {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 65vh;
  padding-left: 10%;
  padding-top: 10%;
}


.bodycontent{
  display:grid;
  grid-template-columns:2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "grid1 grid2";
}


.contentbox1{
  grid-area:grid1;  
}

.contentbox2{
  grid-area:grid2;  
}


/* PAGE */
.card-img-top{
    width:85%;
}

.hide-item{
  display:none;
}

.highlight{
  background-color:yellow;
}

#rightpanel{
  border-radius: 6px;
  box-shadow:gray 5px 5px 15px;
}

.show-item-poll{
  border-left: 10px solid blue;
}

.show-item-video{
  border-left: 10px solid red;
}


