nav{
  background-color:rgb(158, 6, 158);
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "grid1 grid2";
}


#grid1{
 grid-area:grid1;  
}

#grid2{
  grid-area: grid2;
  background-color:white;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 20px;
}


/* HOME */
#rightpanel{
    border-radius: 6px;
    box-shadow:gray 5px 5px 15px;
}

img.card-img-top{
    width:75%;
}

.show-item{
  border-left: 10px solid blue;
}

.highlight{
  background-color:yellow;
}

.hide-item{
  display:none;
}

/* PAGE */